body {
  background-color: #ED1D24;
}

h1.links {
  font-family: 'Arial', serif;
}

h1.comingsoon {
  font-family: 'Tangerine', serif;
}



img.roster {
  width: 90%;
  display: block;
  border: 15px solid blue;
  padding: 10px;
  margin: 10px;
}

iframe.trailer {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

embed.song {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




td.column1 {
  width: 600px;
}
td.column2 {
  width: 600px;
}
td.column3 {
  width: 600px;
}
