<%-include('../partials/header', {page_title:"Character Details"})-%>

    <div class="jumbotron">
        <h1><%= character.name %></h1>
        <p class="lead"><%= character.description %></p>
    </div>



	<a href="/characters">Return to List</a>

  <%-include('../partials/footer')-%>
