<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="https://www.logosurfer.com/wp-content/uploads/2018/03/marvel-logo_0.png" height="30" class="d-inline-block align-top" alt="">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/characters">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/films">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quizzes">Quizzes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
