
<script src = "https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.js"></script>

<footer id = "footer-body">
  <h2 style="text-align:center">Creator: Akash Kumar</h2>
  <h3 style="text-align:center">Year: 2020</h3>
  <h4 style="text-align:center">You can email me at <a id = "footer-email" href="mailto:akash.kumar21@trinityschoolnyc.org">this address</a>.</h4>
  <p  style="text-align:center"> Any reproduction or other use of the pictures and contents of this website without the express written consent of Akash Kumar is prohibited.</p>
</footer>



</body>


</html>
