<%- include('global/header', {title: 'About: MCU'}); %>
<%- include('global/navbar', {posts: allPosts}); %>

<div id = "about-body" class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align:center; font-size: 45px;">About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 style="text-align:center; font-size: 35px;"><a href="index.html">Home Page</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 style="text-align:center; font-size: 25px;">
        The Marvel Cinematic Universe includes a series of interconnected stories and characters that have been built up since 2008.
        I am fascinated by how the several story arcs were created over a decade ago, ultimately bringing together the entire set of characters in the final two Avengers movies.
        Many of the early film included Easter Eggs that provided clues into future movies, characters, and plot lines to come.
        This has created a set of fans, including myself, who attempt to predict upcoming storylines and eagerly await sequels and new character introductions.
        I am particularly fascinated by the MCU because, due to the films' interconnectivity, each movie not only pushes the development of its protagonist but the overall narrative of the entire franchise. </h3>
      <h3 style="font-size: 25px;">Three links to authoritative resources for the MCU are... </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul style="font-size: 20px;">
        <li><a href="https://avengersuniverse.com/">Avengers Universe</a></li>
          <ul>
            <li>A spoiler-free blog for the community of MCU enthusiasts.</li>
          </ul>
        <li><a href="https://www.marvel.com/movies">Marvel Movies</a></li>
          <ul>
            <li>A comprehensive list of MCU films with overviews and movie details, as well as recent news.</li>
          </ul>
        <li><a href="https://mcuexchange.com/">MCU Exchange</a></li>
          <ul>
            <li>A fanpage with current MCU news.</li>
          </ul>
      </ul>
    </div>
  </div>
</div>


<%- include('global/footer'); %>
