<%- include('partials/header', {page_title: 'MCU: About'}); %>
<%- include('partials/navbar', {posts: allPosts}); %>


<div id = "about-body" class="container">
  <div class="row">
    <div class="col">
      <h1 id = "about-about" class = "text-center">About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 id = "about-home" class = "text-center"><a id = "about-home-link" href="/">Home Page</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 id = "about-content" class = "text-center">
        The Marvel Cinematic Universe includes a series of interconnected stories and characters that have been built up since 2008.
        I am fascinated by how the several story arcs were created over a decade ago, ultimately bringing together the entire set of characters in the final two Avengers movies.
        Many of the early films included Easter Eggs that provided clues into future movies, characters, and plot lines to come.
        This has created a set of fans, including myself, who attempt to predict upcoming storylines and eagerly await sequels and new character introductions.
        I am particularly fascinated by the MCU because, due to the films' interconnectivity, each movie not only pushes the development of its protagonist but the overall narrative of the entire franchise. </h3>
      <h3 id = "about-three-links-are">Three links to authoritative resources for the MCU are... </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul id = "about-list">
        <li><a id = "about-link-1" href="https://avengersuniverse.com/">Avengers Universe</a></li>
          <ul>
            <li>A spoiler-free blog for the community of MCU enthusiasts.</li>
          </ul>
        <li><a id = "about-link-2" href="https://www.marvel.com/movies">Marvel Movies</a></li>
          <ul>
            <li>A comprehensive list of MCU films with overviews and movie details, as well as recent news.</li>
          </ul>
        <li><a id = "about-link-3" href="https://mcuexchange.com/">MCU Exchange</a></li>
          <ul>
            <li>A fanpage with current MCU news.</li>
          </ul>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3> Here is a slideshow of the posters of the Avengers films: </h3>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="media/avengers.jpeg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Avengers (2012)</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="media/avengers2.jpeg" height = "500" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Avengers: Age of Ultron (2015)</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="media/avengers3.jpeg" height = "500" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Avengers: Infinity War (2018)</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="media/avengers4.jpeg" height = "500" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Avengers: Endgame (2019)</h5>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer'); %>
