<!DOCTYPE html>
<html>
<head>
<title>MCU</title>
<link rel="icon" href="media/favicon.png" type="image" sizes="16x16">
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<h1> <%=errorCode%> Error</h1>
<p> The resource you requested has not been found.</p>
<script src="/js/scripts.js"></script>
</body>
</html>
