<%- include('partials/header', {page_title:"Error Page"}) -%>

<%- include('partials/navbar') -%>

<div style = "height: 600px;" id = "error-body" class="row">
  <div class="col-12">
    <br></br>
    <h1 class = "text-center"> <%=errorCode%> Error</h1>
    <p class = "text-center"> The resource you requested has not been found.</p>
  </div>
</div>

<%-include('partials/footer')-%>
