<%- include('partials/header', {page_title:"Log In"}) -%>

<%- include('partials/navbar') -%>

<!--<div style = "height: 600px;" id = "error-body" class="row">-->
<div id = "index-body" class="container-fluid" style = "height: 600px;">
  <div class="col-12">
    <br></br>
    <h2>Login with:
      <a href="/auth/google" class="btn btn-success"><span class="fa fa-google"></span> Google</a>
    </h2>
  </div>
</div>

<%-include('partials/footer')-%>
